[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "bundle/nix"]
	path = bundle/nix
	url = git@github.com:LnL7/vim-nix.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/neuron"]
	path = bundle/neuron
	url = git@github.com:chiefnoah/neuron-v2.vim.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "bundle/nvim-lsp-settings"]
	path = bundle/nvim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule "bundle/asyncomplete"]
	path = bundle/asyncomplete
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "bundle/asyncomplete-lsp"]
	path = bundle/asyncomplete-lsp
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/asyncomplete-ultisnips"]
	path = bundle/asyncomplete-ultisnips
	url = git@github.com:prabirshrestha/asyncomplete-ultisnips.vim.git
[submodule "bundle/asyncomplete-file"]
	path = bundle/asyncomplete-file
	url = git@github.com:prabirshrestha/asyncomplete-file.vim.git
[submodule "bundle/asyncomplete-emmet"]
	path = bundle/asyncomplete-emmet
	url = git@github.com:prabirshrestha/asyncomplete-emmet.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/qlist"]
	path = bundle/qlist
	url = git@github.com:romainl/vim-qlist.git
[submodule "bundle/qf"]
	path = bundle/qf
	url = git@github.com:romainl/vim-qf.git
[submodule "bundle/lion"]
	path = bundle/lion
	url = git@github.com:tommcdo/vim-lion.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
